# Deploy
setuptools>=38.6.0
wheel>=0.31.0
twine>=1.11.0

# Lint
flake8

# Tests
pytest
pytest-cov
pytest-rerunfailures
pytest-xdist

#browserstack
jsonmerge
multiprocess
paver
selenium==4.6.0
psutil
pytest-variables
Appium-Python-Client
py
Appium-Python-Client

# Allure
allure-pytest
allure-combine
