.reinstall_and_start_android_app: &reinstall_and_start_android_app
  - adb uninstall fi.altom.altunitytester || true
  - adb install sampleGame.apk
  - adb shell am start -n fi.altom.altunitytester/com.unity3d.player.UnityPlayerActivity
  - adb forward --remove-all
  #- adb forward tcp:13000 tcp:13000

.initialize_venv: &initialize_venv
  - >
    if [ -d altunitytests ]; then
      echo "Activating virtual environment."
      source altunitytests/bin/activate
      echo "Virtual environment has been activated."
    else
      echo "Creating virtual environment."
      python3 -m venv altunitytests
      source altunitytests/bin/activate
      echo "Virtual environment has been created and activated."
    fi

.pip_install_dependencies: &pip_install_dependencies
  - pip uninstall --yes altunityrunner || true
  - pip install --upgrade pip
  - pip install -r "Bindings~/python/requirements.txt"
  - pip install -r "Bindings~/python/requirements-dev.txt"
  - pip install -e "Bindings~/python" --root "Bindings~/python"

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME != "master" && $CI_COMMIT_REF_NAME != "development"'
      when: never
    - when: always

stages:
  - build
  - test
  - docs
  - alphadocs
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - sampleGame.apk
    - sampleGame/
    - .cache/pip
    - altunitytests/

build-apk:
  stage: build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - when: always
  tags:
    - android
  variables:
    PROXY_HOST: "192.168.11.35"
    PROXY_PORT: "13010"
  script:
    - whoami
    - adb uninstall fi.altom.altunitytester || true
    - ${UNITY_2019_2_HOME:-/Applications/Unity/Hub/Editor/2019.2.0f1/Unity.app/Contents/MacOS/Unity} -batchmode -stackTraceLogType None -projectPath $CI_PROJECT_DIR -executeMethod Altom.AltUnityTesterTools.BuildAltUnityTester.AndroidBuildFromCommandLine -logFile buildAndroid.log -quit
    - ls
  cache:
    paths:
      - sampleGame.apk
  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - buildAndroid.log
      - sampleGame.apk

build-webgl:
  stage: build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - when: always
  tags:
    - windows
    - unity
  script:
    - whoami
    - "& $env:UNITY_2019_2_HOME -batchmode -stackTraceLogType None -projectPath $env:CI_PROJECT_DIR -executeMethod Altom.AltUnityTesterTools.BuildAltUnityTester.WebGLBuildFromCommandLine -logFile buildWebgl.log -quit"
    - ls

  cache:
    paths:
      - build/webgl/**

  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - buildWebgl.log
      - build/webgl/**

run-csharp-dotnet-webgl-tests:
  stage: test
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - when: always
  tags:
    - windows
    - unity
  #before_script:
  #  - git clone https://dorinaltom:$GITLAB_PROXY_REPO_KEY@gitlab.com/altom/altunity/altunity-proxy.git
  script:
    - docker run --rm -d -p 13000:13000 --name altunity-proxy altunity-proxy
    - docker run --rm -d -p 8080:8080 --name http-server -v $env:CI_PROJECT_DIR\build\webgl:/samplescenes-webgl node:14 /bin/bash -c "npm i -g http-server && http-server /samplescenes-webgl"
    - start-sleep 10
    - Start-Process msedge -ArgumentList http://localhost:8080/ -PassThru
    - dotnet test Bindings~/dotnet/AltUnityDriver.Tests/AltUnityDriver.Tests.csproj --filter "TestCategory!=Android&TestCategory!=WebGLUnsupported" --logger:"console;verbosity=detailed"
  after_script:
    - docker logs altunity-proxy > AltUnityProxyLog.txt
    - Stop-Process -Name msedge -Force
    - docker container stop http-server
    - docker container stop altunity-proxy

  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - AltUnityTesterLog.txt
      - AltUnityProxyLog.txt
  needs: ["build-webgl"]

.build-ipa:
  stage: build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - when: always
  tags:
    - iPhone
  script:
    - whoami
    - ${UNITY_2019_2_HOME:-/Applications/Unity/Hub/Editor/2019.2.0f1/Unity.app/Contents/MacOS/Unity} -batchmode -projectPath $CI_PROJECT_DIR -executeMethod Altom.AltUnityTesterTools.BuildAltUnityTester.IosBuildFromCommandLine -logFile buildIos.log -quit
    - cd sampleGame
    - xcodebuild build-for-testing -scheme Unity-iPhone -destination generic/platform=iOS -allowProvisioningUpdates
    - ls
  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - sampleGame/
      - buildIos.log

run-csharp-unity-android-tests:
  stage: test
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - when: always
  tags:
    - android
  variables:
    PROXY_PORT: "13010"
  before_script:
    - *reinstall_and_start_android_app
  script:
    - ${UNITY_2019_2_HOME:-/Applications/Unity/Hub/Editor/2019.2.0f1/Unity.app/Contents/MacOS/Unity} -batchmode -stackTraceLogType None -projectPath $CI_PROJECT_DIR -executeMethod Altom.AltUnityTesterEditor.AltUnityTestRunner.RunTestFromCommandLine -logFile csharpAndroidTests.log -quit
  after_script:
    - adb pull /storage/emulated/0/Android/data/fi.altom.altunitytester/files/AltUnityServerLog.txt ./
    - adb forward --remove-all
    - cat csharpAndroidTests.log
  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - csharpAndroidTests.log
      - AltUnityTesterLog.txt
      - AltUnityServerLog.txt
  needs: ["build-apk"]

run-python-lint:
  stage: test
  tags:
    - mac
  before_script:
    - *initialize_venv
    - *pip_install_dependencies
  script:
    - cd Bindings~/python/
    - flake8 altunityrunner

run-python-android-tests:
  stage: test
  tags:
    - android
  before_script:
    - *reinstall_and_start_android_app
    - *initialize_venv
    - *pip_install_dependencies
  script:
    - pytest Bindings~/python/tests/unit
    - pytest Bindings~/python/tests/integration/test_bindings.py
  after_script:
    - adb pull /storage/emulated/0/Android/data/fi.altom.altunitytester/files/AltUnityServerLog.txt ./
    - adb forward --remove-all
  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - AltUnityTesterLog.txt
      - AltUnityServerLog.txt
  needs: ["build-apk"]

run-python-appium-android-tests:
  stage: test
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - when: always
  tags:
    - android
  before_script:
    - adb uninstall fi.altom.altunitytester || true
    - *initialize_venv
    - *pip_install_dependencies
  script:
    - pytest Bindings~/python/tests/integration/test_appium.py
  after_script:
    - adb forward --remove-all
  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - appium.log
      - AltUnityTesterLog.txt
  needs: ["build-apk"]

run-java-android-tests:
  stage: test
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - when: always
  tags:
    - android
  before_script:
    - *reinstall_and_start_android_app
  script:
    - cd "Bindings~/java"
    - mvn -Dtest=ro.altom.altunitytester.Tests* test
  after_script:
    - adb pull /storage/emulated/0/Android/data/fi.altom.altunitytester/files/AltUnityServerLog.txt ./
    - adb forward --remove-all
  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - AltUnityServerLog.txt
      - AltUnityTesterLog.txt
  needs: ["build-apk"]

run-java-appium-android-tests:
  stage: test
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - when: always
  tags:
    - android
  before_script:
    - adb uninstall fi.altom.altunitytester || true
  script:
    - whoami
    - cd "Bindings~/java"
    - mvn clean compile assembly:single
    - mvn install:install-file -Dfile=./target/altunitytester-java-client-jar-with-dependencies.jar -DgroupId=ro.altom -DartifactId=altunitytester -Dversion=1.7.0-alpha -Dpackaging=jar
    - cd ../java-appium-tests
    - mvn test
  after_script:
    - adb forward --remove-all
  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - AltUnityTesterLog.txt
      - "./Bindings~/java/target/altunitytester-java-client-jar-with-dependencies.jar"
  needs: ["build-apk"]

.run-csharp-ios-tests:
  stage: test
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - when: always
  tags:
    - iPhone
  script:
    - cd sampleGame
    - iproxy 13000 13000 &
    - xcodebuild test-without-building -destination 'platform=iOS,name=iPhone' -scheme Unity-iPhone -allowProvisioningUpdates &
    - sleep 60
    - ${UNITY_2019_2_HOME:-/Applications/Unity/Hub/Editor/2019.2.0f1/Unity.app/Contents/MacOS/Unity} -projectPath $CI_PROJECT_DIR -executeMethod Altom.AltUnityTesterEditor.AltUnityTestRunner.RunTestFromCommandLine -logFile csharpIosTests.log -quit
    - killall iproxy || true
    - killall xcodebuild || true
  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - sampleGame/
      - csharpIosTests.log
  needs: ["build-ipa"]

create-unity-package:
  stage: docs
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: always
    - when: never
  tags:
    - unity
    - mac
  script:
    - mkdir -p public/${CI_COMMIT_REF_NAME}/AltUnityPackage || true
    - mkdir -p public/${CI_COMMIT_REF_NAME}/SampleScenes || true
    - ${UNITY_2019_2_HOME:-/Applications/Unity/Hub/Editor/2019.2.0f1/Unity.app/Contents/MacOS/Unity} -batchmode -projectPath $CI_PROJECT_DIR -executeMethod Altom.AltUnityTesterEditor.AltUnityTesterEditor.CreatePackages -logFile createPackages.log -quit
    - AUT=$(find -E . -regex ".*/AltUnityTester.*\.unitypackage")
    - mv $AUT public/${CI_COMMIT_REF_NAME}/AltUnityPackage/AltUnityTester.unitypackage
    - SS=$(find -E . -regex ".*/SampleScenes.*\.unitypackage")
    - mv $SS public/${CI_COMMIT_REF_NAME}/SampleScenes/SampleScenes.unitypackage
    - cd public/${CI_COMMIT_REF_NAME}/AltUnityPackage
    - echo '<a href="https://altom.gitlab.io/altunity/altunitytester/'${CI_COMMIT_REF_NAME}'/AltUnityPackage/AltUnityTester.unitypackage">AltUnityTester.unitypackage</a>' > index.html
    - ls
    - cd public/${CI_COMMIT_REF_NAME}/SampleScenes
    - ls
  artifacts:
    when: always
    paths:
      - public

create-jar-archive:
  stage: docs
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: always
    - when: never
  tags:
    - unity
    - mac
  script:
    - mkdir -p public/${CI_COMMIT_REF_NAME}/AltUnityJAR || true
    - cd "Bindings~/java"
    - mvn clean compile assembly:single
    - mv target/altunitytester-java-client-jar-with-dependencies.jar ../../public/${CI_COMMIT_REF_NAME}/AltUnityJAR/altunitytester-java-client-jar.jar
    - cd ../../public/${CI_COMMIT_REF_NAME}/
    - echo '<a href="https://altom.gitlab.io/altunity/altunitytester/'${CI_COMMIT_REF_NAME}'/AltUnityJAR/altunitytester-java-client.jar">altunitytester-java-client-jar-with-dependencies.jar</a>' > index.html
    - ls
    - cat index.html
  artifacts:
    when: always
    paths:
      - public

deploy-altunitytester-python:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: manual
    - when: never
  tags:
    - unity
    - mac
    - android
  script:
    - cd "Bindings~/python"
    - python3 -m pip install --upgrade pip
    - python3 -m pip install -r requirements-dev.txt
    - python3 setup.py sdist
    - python3 -m twine upload dist/*

deploy-altunitydriver-dotnet:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: manual
    - when: never
  tags:
    - unity
    - mac
    - android
  script:
    - cd "Bindings~/dotnet"
    - dotnet pack AltUnityDriver/AltUnityDriver.csproj -c release
    - dotnet nuget push AltUnityDriver/bin/release/AltUnityDriver.1.7.0-alpha.nupkg --api-key $NUGET_DEPLOY_KEY --source https://api.nuget.org/v3/index.json

alphadocs:
  stage: docs
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: always
    - when: never
  trigger: altom/altunity/altunitytester-alpha

pages:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: manual
    - when: never
  tags:
    - unity
    - mac
  artifacts:
    paths:
      - public
  script:
    - cd docs
    - *initialize_venv
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - make clean
    - make html
    - cp -r _build/html/. ../public/

maven-repo:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master" && $CI_COMMIT_MESSAGE =~ /^Documentation.*/'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: manual
    - when: never
  script:
    - cd "Bindings~/java"
    - export GPG_TTY=$(tty)
    - mvn clean deploy -Darguments="-Dgpg.passphrase=$GPG_PASSWORD" -f pom-release.xml -DskipTests
  tags:
    - unity
    - mac
