name: upload-package-to-staging

on:
  workflow_dispatch:
  push:
    branches:
      - development

jobs:
  create-unity-package:
    runs-on: [self-hosted, MAC37]
    steps:
      - uses: actions/checkout@v3
      - name: Create Unity Package
        run: |
          mkdir -p public/AltTester || true
          mkdir -p public/SampleScenes || true

          if [[ "$GITHUB_REF" == refs/heads/* ]]; then
          COMMIT_HASH=$(git rev-parse --short "$GITHUB_SHA")
          VERSION="2.2.6-$COMMIT_HASH"
          sed -i '' "s/public static readonly string VERSION = \".*\";/public static readonly string VERSION = \"$VERSION\";/" Assets/AltTester/Runtime/Commands/AltRunner.cs
          sed -i '' "s/\"version\": \".*\";/\"version\": \"$VERSION\";/" Assets/AltTester/package.json
          fi
          $UNITY_2021_3_HOME -batchmode -projectPath $CI_PROJECT_DIR -executeMethod AltTester.AltTesterUnitySDK.Editor.AltTesterEditorWindow.CreatePackages -logFile createPackages.log -quit
          ls
          AUT=$(find -E . -regex ".*/AltTester.*\.unitypackage")
          cp $AUT public/AltTester/AltTesterUnitySDK.unitypackage
          cp $AUT public/AltTester/AltTesterUnitySDK_${VERSION}.unitypackage
          cp SampleScenes.unitypackage public/AltTester/SampleScenes.unitypackage

      - uses: actions/upload-artifact@v4
        with:
          name: AltTester
          path: public/AltTester

  upload-unity-package:
    runs-on: ubuntu-latest
    needs: create-unity-package

    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v4
        with:
          name: AltTester
          path: AltTester/

      - name: Upload AltTesterPackage
        uses: appleboy/scp-action@v0.1.7
        with:
          source: AltTester/*
          target: ${{ secrets.SDK_PATH }}
          host: ${{ secrets.HOST_IP_ALTTESTER }}
          port: ${{ secrets.PORT_DEV_ALTTESTER }}
          username: ${{ secrets.USERNAME_ALTTESTER }}
          password: ${{ secrets.PASSWORD_ALTTESTER }}
          rm: true
          strip_components: 1
